canvas { background-image: url("main-field.png"); display: block; margin: 0 auto; }
.info{
    margin: 0 auto;
    height: 100px;
}
h5{
    text-align: center;
}
p{
    text-align: center;
}